.hello {
  background-image: url(../img/bg1.png);
  width: 100%;
  height: 750px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  margin-top: -150px;
  padding-top: 0;
  text-align: center; }

.gradient {
  background: linear-gradient(to right, rgba(69, 72, 75, 0.7), rgba(41, 49, 59, 0.7));
  height: 750px;
  width: 100%; }

.hello__title {
  padding-top: 15%;
  color: #FFF;
  text-align: center;
  font-family: open sans;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center; }

.hello__title-h1 {
  font-size: 36px;
  font-weight: bold; }

.hello__subtitle-txt {
  font-size: 17px;
  width: 630px;
  line-height: 2; }

.hello__button-link {
  background-color: transparent;
  border: 2px solid white;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  width: 135px;
  height: 30px;
  color: #FFF;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  transition: all .6s;
  -webkit-transition: .6s;
  -moz-transition: all .6s; }

.hello__button a:hover {
  background-color: #ffffff;
  color: grey;
  transition: all .6s;
  -webkit-transition: .6s;
  -moz-transition: all .6s; }

.hello__down {
  margin-top: 20%; }

.hello__line {
  width: 0px;
  color: lightgrey;
  border: 1 px solid grey;
  margin-top: -2px;
  opacity: .8; }
